.tab-header-area .tab-header-background {
	-fx-background-color: #1a1a1a;
}

.tab-header-area .headers-region {
	-fx-background-color: #1a1a1a;
}

.tab-content-area {
	-fx-background-color: #262626;
}

#plusButton {
	visibility: hidden;
}

#dnd_box {
	visibility: hidden;
}

#vBox {
	-fx-background-color: #262626;
}

#splitPane {
	-fx-background-color: #262626;
}

#descriptionLabel {
	-fx-text-fill: beige;
}